<h2>Name:<%=@user.name%></h2>
<%binding.pry%>
<br></br>
<h3>Email:<%=@user.email%></h3>

<h2>Your stock boxes: </h2>
<% @user.stock_boxes.each do |stock_box| %>

    <li><a href="/stock_boxes/<%=stock_box.id%>"><%=stock_box.name%></a></li>
    <li>Date Changed:<%=stock_box.date_changed%></li>
    <li>Date Due:<%=stock_box.date_due%></li>
    <br><br>
<% end %>
<br><br>
<h3><a href="/stocks">See all your stocks</a></h3>
<br><br>
<h3><a href="/stock_boxes/new">Create a new stock box</a></h3>
<br><br>
<%#binding.pry%>
<h3><a href="/users/<%=@user.id%>/edit">Edit your Profile</a></h3>
