<h2>Name:<%=@stock_box.name%></h2>
<br></br>
<h3>Date Changed:<%=@stock_box.date_changed%></h3>
<br></br>
<h3>Date Due:<%=@stock_box.date_due%></h3>
<br></br>
<h3>Contents:</h3>
<%#binding.pry%>
<% @stocks.each do |stock| %>
  <li><a href="/stocks/<%=stock.id%>"><%= stock.name %></li>
<% end %>
<br><br>
<%#binding.pry%>
<a href= "/stock_boxes/<%=@stock_box.id%>/edit">Edit Name or Dates</a>
<br><br>
<form class="" action="/stock_boxes/<%=@stock_box.id%>" method = "POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete Stock Box">
</form>
<br><br>
<a href="/stocks/new">Add stocks</a>
