<h2>Name:<%=@stock_box.name%></h2>
<br></br>
<h3>Date Changed:<%=@stock_box.date_changed%></h3>
<br></br>
<h3>Date Due:<%=@stock_box.date_due%></h3>
<br></br>
<h3>Contents:</h3>
<%#binding.pry%>
<% @stocks.each do |stock| %>
  <% if stock.stock_box_id == @stock_box.id %>
    <li><a href="/stocks/<%=stock.id%>"><%= stock.name %></li>
  <% end %>
<% end %>
